@charset "UTF-8";
body {
  font-family: "Nova Square", cursive, sans-serif;
}

.disabled {
  pointer-events: none !important;
}

header {
  height: 60px;
}

#app {
  width: 100vw;
  max-width: 1024px;
  margin: 10px auto;
  height: calc(100vh - 80px);
  overflow: hidden;
}
@media (min-width: 992px) {
  #app {
    width: 80vw;
  }
}

.memory-game-area {
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  height: calc(100vh - 220px);
}
.memory-game-area .card-label {
  font-size: 0.875rem;
}
.memory-game-area[data-grid="2"] .memory-card {
  font-size: 6rem;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}
.memory-game-area[data-grid="4"] .memory-card {
  font-size: 5rem;
  width: calc(25% - 10px);
  height: calc(25% - 10px);
}
.memory-game-area[data-grid="6"] .memory-card {
  font-size: 3rem;
  width: calc(16.66% - 10px);
  height: calc(16.66% - 10px);
}
.memory-game-area[data-grid="6"] .memory-card .card-label {
  font-size: 0.675rem;
}
.memory-game-area[data-grid="8"] .memory-card {
  font-size: 1.35rem;
  width: calc(12.5% - 10px);
  height: calc(12.5% - 10px);
}
.memory-game-area[data-grid="8"] .memory-card .front-face {
  justify-content: center;
}
.memory-game-area[data-grid="8"] .memory-card .card-label {
  font-size: 0.55rem;
}
.memory-game-area[data-grid="10"] .memory-card {
  font-size: 1.2rem;
  width: calc(10% - 6px);
  height: calc(10% - 6px);
  margin: 3px;
}
.memory-game-area[data-grid="10"] .memory-card .front-face {
  justify-content: start;
}
.memory-game-area[data-grid="10"] .memory-card .card-label {
  font-size: 0.65rem;
  display: none;
}
.memory-game-area.complete::before, .memory-game-area.gameover::before, .memory-game-area.paused::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
}
.memory-game-area.complete::after, .memory-game-area.gameover::after, .memory-game-area.paused::after {
  z-index: 4;
  position: absolute;
  left: 10%;
  width: 80%;
  top: 40%;
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  cursor: pointer;
}
.memory-game-area.gameover::before {
  background-color: rgba(var(--bs-danger-rgb), 0.3);
}
.memory-game-area.gameover::after {
  content: "game over";
  background-color: rgba(var(--bs-danger-rgb), 1);
}
.memory-game-area.complete::before {
  background-color: rgba(var(--bs-success-rgb), 0.3);
}
.memory-game-area.complete::after {
  content: "nouvelle partie";
  background-color: rgba(var(--bs-success-rgb), 1);
}
.memory-game-area.paused::before {
  background-color: rgba(var(--bs-info-rgb), 0.3);
}
.memory-game-area.paused::after {
  content: "pause";
  background-color: rgba(var(--bs-info-rgb), 1);
}
.memory-game-area.gameover, .memory-game-area.complete {
  pointer-events: auto !important;
  cursor: pointer;
}

.memory-card {
  margin: 5px;
  position: relative;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  opacity: 1;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.memory-card .front-face,
.memory-card .back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 1;
}
.memory-card .front-face {
  transform: rotateY(180deg);
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.memory-card.matched {
  box-shadow: none;
}
.memory-card.matched::after {
  z-index: 2;
  animation: cardFadeOut 1s ease-in-out 0s 1 reverse both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-body-bg);
  content: "";
}

@keyframes cardFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
[data-after]:after {
  content: attr(data-after);
}

[data-before]:before {
  content: attr(data-before);
}

.time {
  user-select: none;
  width: 80px;
}
.time .hours:empty,
.time .minutes:empty {
  margin: 0;
}
.time .seconds:empty::after {
  content: "∞";
}
.time .hours:not(:empty) + .minutes::before,
.time .minutes:not(:empty) + .seconds::before {
  content: ":";
  display: inline-block;
  margin: 0 2px;
}

.game-stats td:not([colspan]),
.game-stats th {
  width: calc(20% - 2px);
}

/*# sourceMappingURL=bundle.css.map */
