@charset "UTF-8";
body {
  font-family: "Nova Square", cursive, sans-serif;
}

.disabled {
  pointer-events: none !important;
}

header {
  height: 60px;
}

#app {
  width: 100vw;
  margin: 0 auto;
  height: calc(100vh - 60px);
  overflow: hidden;
}
.memory-game-area {
  cursor: pointer;
  position: relative;
  margin: auto;
  perspective: 1000px;
  height: calc(100vh - 190px);
}
.memory-game-area .card-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.memory-game-area .memory-card {
  background: #1C7CCC;
}
.memory-game-area .card-label {
  font-size: 0.875rem;
}
.memory-game-area[data-grid="2"] .memory-card {
  font-size: 6rem;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}
.memory-game-area[data-grid="4"] .memory-card {
  font-size: 5rem;
  width: calc(25% - 10px);
  height: calc(25% - 10px);
}
.memory-game-area[data-grid="6"] .memory-card {
  font-size: 3rem;
  width: calc(16.66% - 10px);
  height: calc(16.66% - 10px);
}
.memory-game-area[data-grid="6"] .memory-card .card-label {
  font-size: 0.675rem;
}
.memory-game-area[data-grid="8"] .memory-card {
  font-size: 2.5rem;
  width: calc(12.5% - 10px);
  height: calc(12.5% - 10px);
}
.memory-game-area[data-grid="8"] .memory-card .front-face {
  justify-content: center;
}
.memory-game-area[data-grid="8"] .memory-card .card-label {
  display: none;
}
.memory-game-area.complete::before, .memory-game-area.gameover::before, .memory-game-area.paused::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
}
.memory-game-area.complete::after, .memory-game-area.gameover::after, .memory-game-area.paused::after {
  z-index: 4;
  position: absolute;
  left: 10%;
  width: 80%;
  top: 40%;
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: rgba(var(--bs-light-rgb), 1);
}
.memory-game-area.gameover::before {
  background-color: rgba(var(--bs-danger-rgb), 0.3);
}
.memory-game-area.gameover::after {
  content: "game over";
  background-color: rgba(var(--bs-danger-rgb), 1);
}
.memory-game-area.complete::before {
  background-color: rgba(var(--bs-success-rgb), 0.3);
}
.memory-game-area.complete::after {
  content: "nouvelle partie";
  background-color: rgba(var(--bs-success-rgb), 1);
}
.memory-game-area.paused::before {
  background-color: rgba(var(--bs-info-rgb), 0.3);
}
.memory-game-area.paused::after {
  content: "pause";
  background-color: rgba(var(--bs-info-rgb), 1);
}
.memory-game-area.gameover, .memory-game-area.complete, .memory-game-area.paused {
  pointer-events: auto !important;
}
.memory-game-area.gameover, .memory-game-area.complete, .memory-game-area.paused {
  cursor: pointer;
}
.memory-game-area.failed:not(.paused) .card-area {
  animation: deckBlinkRed 0.25s ease-in-out infinite;
}

.memory-card {
  margin: 5px;
  position: relative;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.memory-card .front-face,
.memory-card .back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 1;
}
.memory-card .front-face {
  transform: rotateY(180deg);
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.memory-card.matched {
  box-shadow: none;
}
.memory-card.matched::after {
  z-index: 2;
  animation: cardFadeOut 0.8s ease-in-out 0.5s reverse both;
  position: absolute;
  top: 0;
  left: -5px;
  right: -5px;
  bottom: 0;
  background-color: var(--bs-body-bg);
  content: "";
}

.theme-selector .color-picker [type=radio] {
  display: none;
}
.theme-selector .color-picker label {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid transparent;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
}
.theme-selector .color-picker :checked ~ label {
  border-color: rgba(0, 0, 0, 0.3);
}
.theme-selector .color-picker :checked ~ label::after {
  content: "✓";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bs-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

[data-theme="1"] .memory-card,
[for=theme1] {
  background: #F27059;
}

[data-theme="2"] .memory-card,
[for=theme2] {
  background: #A4C2A8;
}

[data-theme="3"] .memory-card,
[for=theme3] {
  background: #BFACB5;
}

[data-theme="4"] .memory-card,
[for=theme4] {
  background: #E5D0CC;
}

@keyframes deckBlinkRed {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: rgba(var(--bs-danger-rgb), 1);
  }
  95% {
    background-color: transparent;
  }
}
@keyframes cardFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
[data-play=play] [data-play=paused],
[data-play=paused] [data-play=play],
[data-play=stopped] {
  display: none;
}

[data-after]:after {
  content: attr(data-after);
}

[data-before]:before {
  content: attr(data-before);
}

.time {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 80px;
}
.time .hours:empty,
.time .minutes:empty {
  margin: 0;
}
.time .seconds:empty::after {
  content: "∞";
}
.time .hours:not(:empty) + .minutes::before,
.time .minutes:not(:empty) + .seconds::before {
  content: ":";
  display: inline-block;
  margin: 0 2px;
}

.game-stats td:not([colspan]),
.game-stats th {
  width: calc(20% - 2px);
}

@media (max-width: 768px){
  .memory-game-area[data-grid="8"] .memory-card {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=bundle.css.map */