body
{
    font-family: 'Nova Square', cursive, sans-serif;
}

.disabled
{
    pointer-events: none !important;
}


.memory-game-area
{
    width: 80vw;
    max-width: 1024px;
    height: calc(100vh - 100px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;

}

.memory-card
{

    // width: 70px;
    // height: 100px;
    margin: 5px;
    position: relative;
    font-size: 3em;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);

    border-radius: 5px;


    &:active
    {
        transform: scale(0.97);
        transition: transform .2s;
    }

    &.flip
    {
        transform: rotateY(180deg);
    }


    .front-face,
    .back-face
    {
        width: 100%;
        height: 100%;
        padding: 20px;
        position: absolute;
        border-radius: 5px;
        background: #1C7CCC;
        backface-visibility: hidden;
    }


    .front-face
    {
        transform: rotateY(180deg);

        background-color: #ddd;

        display: flex;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .card-label
        {
            font-size: .875rem;
        }
    }

}

[data-after]:after
{
    content: attr(data-after);
}

.time
{

    user-select: none;

    .hours:not(:empty) + .minutes::before,
    .minutes:not(:empty) + .seconds::before
    {
        content: ':';

        margin: 0 2px;
    }


}